<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQServer" value="192.168.0.29"/>
    <add key="RabbitMQPort" value="5672"/>
    <add key="RabbitMQUser" value="computer_vision"/>
    <add key="RabbitMQPassword" value="S33Th1ngs"/>
    <add key="RabbitMQVirtualHost" value="/"/>

    <add key="RabbitMQQueueFrameSource" value="queue.frames.source.aggregator"/>
    <add key="RabbitMQQueueFrameFaceAgeGender" value="queue.object.face.age-gender.aggregator"/>
    <add key="RabbitMQQueueFrameDogBreed" value="queue.object.dog.breed.aggregator"/>
    <add key="RabbitMQExchangeFrameComplete" value="exchange.frames.complete"/>
  </appSettings>
</configuration>