<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- RabbitMQ Settings -->
    <add key="RabbitMQServer" value="192.168.0.29"/>
    <add key="RabbitMQPort" value="5672"/>
    <add key="RabbitMQUser" value="computer_vision"/>
    <add key="RabbitMQPassword" value="S33Th1ngs"/>
    <add key="RabbitMQVirtualHost" value="/"/>
    <add key="RabbitMQQueueFrameOutput" value="queue.frames.complete.super-sight"/>
    <add key="RabbitMQExchangeFrameInput" value="exchange.frames.source"/>
  </appSettings>
</configuration>